.leftButton {
    color: white;
    background-color: black;
}

.rightButton {
    background-color: yellow;
}

.leftButton,
.rightButton {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}